<!DOCTYPE html>
{% load static %}
<html lang="es"  xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="master">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="{% static 'core/css/estilo-cat.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="background-color: black;" min-height="100vh">

<div id="Logo2">
    <img src="{% static 'core/img/Logo.png' %}" alt="Logo2">
</div>

<div class="navbar-container2">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div>
                <a href="{% url 'index' %}" class="btn btn-outline-success me-2">Volver</a>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Nombre del juego" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
</div>

<main layout:fragment="contenido">
    <div id="table-container" class="col-12">
        <h2>Editar producto </h2>
        <form th:object="${producto}" th:action="@{/productos/editar/} + ${producto.id}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="nombre">Código</label>
                <input autocomplete="off" autofocus th:field="*{codigo}" id="codigo"
                       placeholder="Escribe el codigo del producto" type="number"
                       class="form-control" th:classappend="${#fields.hasErrors('codigo')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{codigo}"></div>
            </div>
            <div class="form-group">
                <label for="codigo">Nombre del producto</label>
                <input autocomplete="off" th:field="*{nombre}" id="nombre" placeholder="Escribe el código del producto"
                       type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{nombre}"></div>
            </div>
            <div class="form-group">
                <label for="existencia">Categoría</label>
                <input autocomplete="off" th:field="*{Categoría}" id="Categoría"
                       placeholder="Categoría del producto" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('Categoría')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{Categoría}"></div>
            </div>

            <div class="form-group">
                <label for="existencia">Imagen</label>
                <input autocomplete="off" th:field="*{existencia}" id="Imagen"
                       placeholder="Imagen del producto" type="image"
                       class="form-control" th:classappend="${#fields.hasErrors('Imagen')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{Imagen}"></div>
            </div>

            <div class="form-group">
                <label for="existencia">Stock</label>
                <input autocomplete="off" th:field="*{existencia}" id="existencia"
                       placeholder="Cantidad actual del producto" type="number"
                       class="form-control" th:classappend="${#fields.hasErrors('existencia')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{existencia}"></div>
            </div>

            <div class="form-group">
                <label for="existencia">Precio</label>
                <input autocomplete="off" th:field="*{precio}" id="precio" placeholder="Precio del producto"
                       type="number"
                       class="form-control" th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{precio}"></div>
            </div>
            <button class="btn btn-success" type="submit">Guardar</button>
            &nbsp;<a class="btn btn-warning" th:href="@{/productos/mostrar}">Ver todos</a>
        </form>
    </div>
</main>

</body>
</html>